<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>弄堂 Brunch 后台管理系统登录</title>
    <meta charset="UTF-8">
	<meta http-equiv="Cache" content="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../../css/font-awesome.min.css" />
	<link rel="stylesheet" href="../../css/medium-editor.css" />
	<link rel="stylesheet" href="../../css/default.min.css" />
	<link rel="stylesheet" href="../../css/admin.css" />
</head>
<body>
<div class="container">
	<div class="tool-bar panel">
		<div class="tool-btn"><i class="fa fa-user-circle b-off" aria-hidden="true" data-flag="admin"></i></div>	
		<div class="tool-btn"><i class="fa fa-picture-o b-on" aria-hidden="true" data-flag="imgs"></i></div>	
		<div class="tool-btn"><i class="fa fa-cutlery b-off" aria-hidden="true" data-flag="goods"></i></div>	
		<div class="tool-btn"><i class="fa fa-shopping-cart b-off" aria-hidden="true" data-flag="order"></i></div>	
		<div class="tool-btn"><i class="fa fa-clock-o b-off" aria-hidden="true" data-flag="res"></i></div>	
	</div>
	<div class="control-nav panel">
	
		<div class="admin-panel ctl-panel" id="adminPanel">
			<div class="panel-title">修改管理员密码</div>
			<table cellspacing="1" cellpadding="1">
				<tr>
					<td><span>原密码</span></td>
					<td><input type="password"/></td>
				</tr>
				<tr>
					<td><span>新密码</span></td>
					<td><input type="password"/></td>
				</tr>
				<tr>
					<td><span>确认密码</span></td>
					<td><input type="password"/></td>
				</tr>
				<tr>
					<td></td>
					<td><button>确认修改</button></td>
				</tr>
			</table>
		</div>

		<div class="imgs-panel ctl-panel" id="imgsPanel">
			<ul class="menu-tree" id="menuTree"></ul>
		</div>
	
		<div class="goods-panel ctl-panel" id="goodsPanel">
			<div class="panel-title">
				商品信息
				<i class="fa fa-plus" aria-hidden="true" id="submitGEdit"></i>
				<i class="fa fa-eraser" aria-hidden="true" id="clearGEdit"></i>
			</div>
			<div class="g-info-panel">
				<!--<div class="g-view-main"></div>-->
				<div class="g-view-edit-panel">
					<div class="g-view" data-flag='0'></div>
					<div class="g-view" data-flag='1'></div>
					<div class="g-view" data-flag='2'></div>
				</div>

				<table cellspacing="10" cellpadding="1" id="gInfoForm">
					<tr>
						<td><span>名称 :</span></td>
						<td colspan="5"><input type="text" data-flag="Name"/></td>
					</tr>
					<tr>
						<td><span>标题 :</span></td>
						<td colspan="5"><input type="text" data-flag="Title"/></td>
					</tr>
					<tr>
						<td><span>简介 :</span></td>
						<td colspan="5">
							<div class='editable' id='desc' contenteditable='true' data-flag="Introduction"></div>
						</td>
					</tr>
					<tr>
						<td><span>详情 :</span></td>
						<td colspan="5">
							<div class='editable' contenteditable='true' data-flag="Details"></div>
						</td>
					</tr>
					<tr>
						<td><span>原价 :</span></td>
						<td>￥<input class="input-small" type="text" data-flag="Original"/></td>
						<td><span>现价 :</span></td>
						<td>￥<input class="input-small" type="text" data-flag="Present"/></td>
						<td><span>会员价 :</span></td>
						<td>￥<input class="input-small" type="text" data-flag="Membership"/></td>
					</tr>
					<tr>
						<td><span>种类:</span></td>
						<td colspan="5">
							<input type="radio" name='Type' value="1"/>
							<label>零食</label>	
							<input type="radio" name='Type' value="2"/>
							<label>饮料</label>	
							<input type="radio" name='Type' value="3"/>
							<label>水果</label>	
							<input type="radio" name='Type' value="4"/>
							<label>盖饭</label>	
							<input type="radio" name='Type' value="5"/>
							<label>面</label>	
							<input type="radio" name='Type' value="6"/>
							<label>甜品</label>	
							<input type="radio" name='Type' value="7"/>
							<label>其他</label>	
							<!--<input type="hidden" id='Type' value="0"/>-->
						</td>
					</tr>
					<tr>
						<td><span>分组:</span></td>
						<td colspan="5">
							<input type="radio" name='Group' value="1"/>
							<label>货架</label>	
							<input type="radio" name='Group' value="2"/>
							<label>点餐</label>	
							<input type="radio" name='Group' value="3"/>
							<label>预订</label>	
							<input type="radio" name='Group' value="4"/>
							<label>活动</label>	
							<input type="radio" name='Group' value="5"/>
							<label>优惠</label>	
							<input type="radio" name='Group' value="6"/>
							<label>推荐</label>	
						</td>
					</tr>
					<tr>
						<td><span>公共类型:</span></td>
						<td colspan="5">
							<input type="radio" name='PubType' value="1"/>
							<label>单品</label>	
							<input type="radio" name='PubType' value="2"/>
							<label>套餐</label>	
							<input type="radio" name='PubType' value="3"/>
							<label>轻饮食</label>	
							<input type="radio" name='PubType' value="4"/>
							<label>世界杯</label>	
							<!--<input type="hidden" id='PubType' value="0"/>-->
						</td>
					</tr>
					<tr>
						<td><span>可被收藏:</span></td>
						<td colspan="5">
							<input type="radio" name='CanCollection' value="1"/>
							<label>ON</label>	
							<input type="radio" name='CanCollection' value="0" checked="checked"/>
							<label>OFF</label>	
						</td>
					</tr>
					
					<!--<tr>-->
						<!--<td><span>商品现价</span></td>-->
						<!--<td><input type="text" id="adminPwd"/></td>-->
					<!--</tr>-->
					<!--<tr>-->
						<!--<td><span>商品会员价</span></td>-->
						<!--<td><input type="text" id="adminPwd"/></td>-->
					<!--</tr>-->
				</table>
			</div>
		</div>
		<div class="order-panel ctl-panel" id="orderPanel">2</div>
		<div class="res-panel ctl-panel" id="resPanel">3</div>
	</div>

	<div class="content-panel panel">
		<div class='content-page' id='imgsPage'></div>	
	</div>

</div>
<script src="../../js/public/jquery-2.1.0.min.js"></script>
<script src="../../js/medium-editor.js"></script>
<script src="../../js/back/admin.js"></script>
<!--<script>-->
<!--var registSimpleEditor = function(dom,txt){-->
	<!--var editor = new MediumEditor(dom, {-->
	<!--buttonLabels: 'fontawesome',-->
	<!--autoLink: true,-->
	<!--toolbar: {-->
	<!--//buttons: ['bold', 'italic','underline', 'strikethrough','unorderedlist', 'orderedlist', 'h1','h2','h3','anchor','quote','pre','subscript','superscript','removeFormat']-->
	<!--buttons: ['bold', 'italic','underline', 'strikethrough','unorderedlist', 'orderedlist', 'h1','h2','h3','anchor','removeFormat']-->
	<!--},placeholder: {-->
	<!--text: txt?txt:'说点什么...',-->
	<!--hideOnClick: true-->
	<!--}-->
	<!--});-->
<!--}-->

<!--var getWClientHeight = function(){-->
	<!--if(document.compatMode == 'BackCompat'){-->
		<!--return document.body.clientHeight;-->
	<!--}-->
	<!--if(document.compatMode == 'CSS1Compat'){-->
		<!--return document.documentElement.clientHeight;-->
	<!--}-->
<!--}-->



<!--$(document).ready(function(){-->
		<!--$(".panel").css("height",getWClientHeight());-->
		<!--$(".g-info-panel").css("height",getWClientHeight()-75);-->

		<!--$(".tool-btn i").click(function(){-->
			<!--$(".ctl-panel").hide();-->
			<!--$("#"+this.dataset.flag+"Panel").show();-->
			<!--$(".tool-btn i").removeClass("b-on").addClass("b-off");-->
			<!--$(this).removeClass("b-off").addClass("b-on");-->
			<!--});-->
		<!--$(".b-on").click();-->
		<!--registSimpleEditor($('#desc'));-->


		<!--/*-->
		<!--$.get("http://47.104.84.30/api/ftp/OrderIMG",null,function(data){-->
			<!--console.log(data);-->
			
		<!--})-->
		<!--*/-->
		<!--//var editor = new MediumEditor('.editable');-->
		  <!--//var editor = new MediumEditor('.editable');-->
		  <!--/*-->
            <!--editor2 = new MediumEditor('.secondEditable', {-->
                <!--toolbar: {-->
                    <!--buttons: ['bold', 'italic', 'quote', 'pre']-->
                <!--}-->
            <!--});-->
		<!--*/	-->
		<!--});-->
<!--</script>-->
<!--<script asp-src-include="js/public/*.min.js"></script>-->
<!--<script asp-src-include="js/front/nt.js"></script>-->
<!--<script asp-src-include="js/front/init.js"></script>-->
</body>
</html>

